In [8]:
num = 12
name =  "Sam"

In [12]:
print("My number is {one} and my name is {two}".format(one=num,two=name))

My number is 12 and my name is Sam

In [14]:
s = "hello"

In [15]:
s[0]

'h'

In [16]:
s[2]

'l'

In [17]:
s[4]

'o'

In [18]:
s = "abcdefghijk"

In [19]:
s[0:]

'abcdefghijk'

In [20]:
s[2:]

'cdefghijk'

In [21]:
s[:3]

'abc'

In [22]:
s[3:6]

'def'

In [23]:
[1,2,3]

[1, 2, 3]

In [25]:
["a","b","c"]

['a', 'b', 'c']

In [26]:
my_list = ["a","b","c"]

In [27]:
my_list.append("d")

In [28]:
my_list

['a', 'b', 'c', 'd']

In [29]:
my_list[1:3]

['b', 'c']

In [30]:
my_list[0] = "NEW"

In [31]:
my_list

['NEW', 'b', 'c', 'd']

In [32]:
nest = [1,2,[3,4]]

In [33]:
nest

[1, 2, [3, 4]]

In [34]:
nest[2]

[3, 4]

In [35]:
nest[2][1]

4

In [36]:
nest = [1,2,3,[4,5,["target"]]]

In [40]:
print(nest[3][2][0])

target

In [41]:
d = {"key1":"value","key2":123}

In [42]:
d["key1"]

'value'

In [43]:
d["key2"]

123

In [51]:
d = {"k1":[1,2,3]}

In [52]:
d["k1"][1]

2

In [53]:
my_list = d["k1"]

In [54]:
my_list[0]

1

In [55]:
d["k1"][0]

1

In [56]:
d = {"k1":{"innerkey":[1,2,3]}}

In [59]:
d["k1"]['innerkey'][1]

2

In [60]:
my_list = [1,2,3]

In [61]:
my_list[0]

1

In [62]:
t = (1,2,3)

In [63]:
t[0]

1

In [66]:
my_list[0] = "NEW"

In [67]:
my_list

['NEW', 2, 3]

In [70]:
t[0] = "NEW"

TypeError: 'tuple' object does not support item assignment

In [71]:
1 > 2

False

In [72]:
2 < 1

False

In [73]:
5 > 2

True

In [74]:
1 == 2

False

In [75]:
1 == 1

True

In [76]:
if 1 < 2:
    print("Yup")

Yup

In [6]:
if 1 == 2:
    print("First")
elif 4 == 4:
    print("Second")
elif 3 == 3:
    print("Middle")
else:
    print("Last")

Second

In [8]:
seq = [1,2,3,4,5]

In [10]:
for num in seq:
    print(num)

1
2
3
4
5

In [ ]:
i = 1

while i < 5:
    print("i is {}.format(i)")
    i = i + 1